.booking-slot {
    margin-top: 20px;
}

.booking-slot h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* .booking-slot ul {
    list-style-type: none;
    padding: 0;
}

.booking-slot li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
} */