.specials {
    padding: 0 15%;
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 48px;
    align-items: center;
}

.cardsSec {
    display: flex;
    justify-content: space-between;
}

.title-specials {
    font-size: 32px;
}

@media (max-width: 1050px) {
    .cardsSec {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .title {
        flex-direction: column;
    }
}