.btn {
    background-color: #F4CE14;
    color: #333;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 160px;
    font-weight: bold;
    margin-top: 16px;
}