.booking-form {
    font-family: 'Markazi Text, sans-serif';
}

.booking-form {
    display: grid;
    max-width: 200px;
    gap: 20px;
}

.booking-form label {
    color: #cccccc;
}

.booking-form input[type="date"],
.booking-form input[type="number"],
.booking-form select {
    border-radius: 5px;
    padding: 5px;
}

.booking-form input[type="submit"] {
    background-color: #F4CE14;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.booking-form input[type="submit"]:hover {
    background-color: #e0b800;
}