.nav {
    display: block;
}

ul.nav-ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}

li.nav-li {
    cursor: pointer;
    color: #333;
    padding: 8px 8px;
    border-radius: 8px;
    background: #ccc;
    margin: 0 2px;
}

li.nav-li:hover {
    background-color: #495E57;
    color: #EDEFEE;
}

.nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    color: #EDEFEE;
    text-decoration: none;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
}

.nav-mobile.active{
    display: block !important;
}

.hamburger {
    display: none;
    cursor: pointer;
}

ul.nav-mobile-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

li.nav-mobile-li {
    cursor: pointer;
    color: #333;
    padding: 8px 8px;
    background: #ccc;
    margin: 0 2px;
}

li.nav-mobile-li:hover {
    background-color: #495E57;
    color: #EDEFEE;
}

.nav-mobile-link {
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.nav-mobile-link:hover {
    color: #EDEFEE;
    text-decoration: none;
}

@media (max-width: 600px) {
    ul.nav-ul {
       display: none;
    }

    .hamburger {
        display: block;
    }
}